<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>카드 매칭 게임</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Flip_the_card.css') }}">
<script defer src="{{ url_for('static', filename='js/Flip_the_card.js') }}"></script>
</head>
<body>
    <form action="/flip_card_play" method="post">
        {% for _ in range(2) %}
            {% for i in range(8) %}
            <div class="card" style="background-image: url('{{ url_for('static', filename='images/Flip_the_card/img' ~ loop.index0 ~ '.gif') }}')" onclick="flipCard({{ loop.index0 }})"></div>
            {% endfor %}
        </form>
    </div>
</body>
</html>
